# Uncomment the following to prevent the httpoxy vulnerability
# See: https://httpoxy.org/
#<IfModule mod_headers.c>
#    RequestHeader unset Proxy
#</IfModule>

#Force www:
RewriteEngine on
RewriteCond %{HTTP_HOST} ^tibia-clients.com [NC]
RewriteRule ^(.*)$ http://www.tibia-clients.com/$1 [L,R=301,NC]

<IfModule mod_rewrite.c>
    RewriteEngine on
    RewriteRule    ^$    webroot/    [L]
    RewriteRule    (.*) webroot/$1    [L]
	RewriteRule    ^$    static/    [L]
    RewriteRule    (.*) static/$1    [L]
</IfModule>
